{{!-- <div>
    <script>
        function Search(button) {
            var btn_id = button.id;
            var form = document.getElementById("myForm");
            if (btn_id == "Spotify") {
                form.setAttribute("action", "/spotify/search")
            }
            if (btn_id == "YouTube") {
                form.setAttribute("action", "/song/searchSong")
            }
        }
    </script> --}}
<!doctype html>
<html>
<head>
     <link rel="stylesheet" type="text/css" href="/public/css/main.css">
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
      <style>
          .topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

.topnav-right {
  float: right;
}
      </style>
</head>
<body>
     <nav class="topnav">
  
 
  <div class="topnav-right">
    <a href="/views/pages/discoverPage.handlebars">Discover</a>
    <a href="#">Log Out</a>
  </div>
</nav>

<div class="wrap">
    <div class="search">
        <form method="post" action="/spotify/search">
            <input type="text" id="searchBar" class="searchTerm" name="searchBar" placeholder="Search"/>
                  </div>
                        <button class="btn btn-primary btn-lg" id="Spotify" name="Spotify">
                            Spotify
                        </button>
                          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                           &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                             &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                              &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                               &nbsp; &nbsp; &nbsp; 
            <button class="btn btn-primary btn-lg" type="submit" id="YouTube" name="YouTube">YouTube</button>
        </form>
    </div>

    <script>
        $(document).ready(function () {
            var spotifySearch = $("#Spotify");
            var searchBar = $('searchBar')
            

            $(spotifySearch).click(function () {

                $.ajax({
                    method: 'post',
                    data: JSON.stringify({ "searchBar": searchBar }),
                    dataType: "json",
                    success: function (obj) {
                        var search_result = obj;
                        var hassongs = true;
                    },
                    error: function (message) {

                        var hassongs = false;
                    }
                })
            })
        })
    </script>
  <script>
        function Search(button) {
            var btn_id = button.id;
            var form = document.getElementById("myForm");
            if (btn_id == "Spotify") {
                form.setAttribute("action", "/spotify/search")
            }
            if (btn_id == "YouTube") {
                form.setAttribute("action", "/song/searchSong")
            }
        }
    </script>

    <div class="btn-group">
        <ul >
            {{#each songs}}
            <li class="song-list">
                {{this.song}}

                <button type="button" id="add" name="{{this.uri}}">Add</button>

            </li>
            {{/each}}
        </ul>
    </div>


</body>
</html>




{{!-- <div>
    <div>
        <form id="myForm" method="post">
            <input type="text" id="searchBar" name="searchBar" />
            <button id="Spotify" name="Spotify" onclick="Search(this)">Spotify</button>
            <button type="submit" id="YouTube" name="YouTube" onclick="Search(this)">YouTube</button>
        </form>
    </div>



    {{!-- <script>

        $(document).ready(function () {
            var spotifySearch = $("#Spotify");
            var searchBar = $('searchBar')


            $(spotifySearch).click(function () {

                $.ajax({
                    method: 'post',
                    data: JSON.stringify({ "searchBar": searchBar }),
                    dataType: "json",
                    success: function (obj) {
                        var search_result = obj;
                        var hassongs = true;
                    },
                    error: function (message) {

                        var hassongs = false;
                    }
                })
            })
        })


    </script> --}}
    <script>
        function addSong(button) {
            btn_id = button.id;
            let songList = document.getElementsByClassName("song_button");
            for (let i = 0; i < songList.length; i++) {
                if (songList[i].id == btn_id) {


                    let songURI = document.getElementById(btn_id).value;


                    console.log(songURI);
                    //console.log(songList[i].name);




                    $(document).ready(function () {

                        $.ajax({
                            url: '/song/addSong',
                            method: 'post',
                            data: { "songURI": songURI, "songName": songList[i].name },
                            dataType: "json",
                            success: function (obj) {
                                alert("success")
                            },
                            statusCode: {
                                400: function () {
                                    alert('error');
                                }
                            }
                            //error: function (obj) {
                            //  alert("error")

                            //}
                        })

                    })
                }
            }
        }
    </script>

    <div>
        <ul class="song-list">

            {{#each songs}}
            <li>

                {{this.song}}

                <button type="button" class="song_button" name="{{this.song}}" value="{{this.uri}}">Add</button>

            </li>
            {{/each}}


            <script>
                let songList = document.getElementsByClassName("song_button");
                for (let i = 0; i < songList.length; i++) {
                    songList[i].setAttribute("id", i)
                    songList[i].setAttribute("onclick", "addSong(this)")
                }


            </script>
        </ul>
<<<<<<< Updated upstream


    </div>
</div>


{{!-- Save play list button to go back to home page after creating a new playlist --}}
<div>
{{#if error}}
<p>{{error}}</p>
{{/if}}
<form method="GET" action="/playlist/savePlaylist">
    <button type="submit">
        Save playlist
    </button>
</form>
</div>
=======
    </div> --}}
    {{!-- <div>
        {{playlistname}}
        <ul class="added-songs">
            {{#each songs}}
            <li>
                {{this}}
            </li>
            <button type="button" id="add" name="add">Add</button>
            {{/each}}
        </ul>
    </div> --}}
</div>
>>>>>>> Stashed changes
