


<ul class="playList-list">

 
                <div class="song-item">
            
            {{#each allPlayList}}
            
                <br>
                    PlaylistName : {{this.playlistName}}
                    </br>
                    <br>
                    UserName : {{this.userName}}
                    </br>
                    <form method="get" action="/likesComments/addLike/{{this.playlistId}}">
                    <br>
                    Likes : {{this.likes}} <button id="like">Like</button>
                    </br>
                    </form>
                    <form method="get" action="/likesComments/addComment/{{this.playlistId}}">  
                    <br>
                    Comment : {{this.comments}} 
                    </br>
                    <br>
                        <input type="text"/>
                        <button id="comment">Comment</button>
                    </br>
                    </form>
                <form method="get" action= "/user/addPlaylist/{{this.playlistId}}">
                    <button class="playlist_add">Add to my profile</button>    
                </form>
                {{/each}}
                
                </div>
                
                <p>-------------------------------------------------------------------------</p>
            
            
</ul>
<script>
    
    
    var btn = document.getElementsByClassName("playList_add");
    
        for(let i = 0 ; i < btn.length ; i++){
            btn[i].setAttribute("id",i);
            btn[i].setAttribute("onclick","onclickSubmit(this)"); 
        }
             
    function onclickSubmit(button){  
         var btn = document.getElementsByClassName("playList_add");  
        for(let i = 0 ; i < btn.length ; i++){
            console.log("button : " + btn[i]);
            if(btn[i].id == button.id){
                var playlistid = document.getElementById(btn[i].id);
                console.log(playlistid.name)
                let plist_id = playlistid.getAttribute("name");
            
            }
        }
    }

</script>