{{!-- <!DOCTYPE html>
<html lang="en">

<head>
    <title>MixUp</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="/public/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/public/fonts/font-awesome-4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" type="text/css" href="/public/css/util.css">
    <link rel="stylesheet" type="text/css" href="/public/css/main.css">
</head>

<body>

    {{error}}
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <form class="signup100-form validate-form" id="signup-form" action="/user/signup" method="POST">
                    <span class="signup100-form-title p-b-34">
                        MixUp
                    </span>

                    <div class="wrap-input100 rs1-wrap-input100 validate-input m-b-20" data-validate="Type First name">
                        <input id="first-name" class="input100" type="text" id="firstName" name="firstName"
                            placeholder="First Name">
                        <span class="focus-input100"></span>
                    </div>
                    <div class="wrap-input100 rs2-wrap-input100 validate-input m-b-20" data-validate="Type last name">
                        <input class="input100" type="text" name="lastName" id="lastName" placeholder="Last Name">
                        <span class="focus-input100"></span>
                    </div>
                    <div class="wrap-input100 rs3-wrap-input100 validate-input m-b-20" data-validate="Type email">
                        <input class="input100" type="text" name="email" id="email" placeholder="Email">
                        <span class="focus-input100"></span>
                    </div>

                    <div class="wrap-input100 rs4-wrap-input100 validate-input m-b-20">
                        <input class="input100" type="date" id="dob" name="dob">
                        <span class="focus-input100"></span>
                    </div>

                    <div class="wrap-input100 rs5-wrap-input100 validate-input m-b-20">
                        <input class="input100" type="radio" class="gender" id="male" name="gender" value="male">
                        <input class="input100" type="radio" class="gender" id="female" name="gender" value="female">
                        <input class="input100" type="radio" class="gender" id="other" name="gender" value="other">
                        <span class="focus-input100"></span>
                    </div>
                    <div class="wrap-input100 rs6-wrap-input100 validate-input m-b-20" data-validate="Type password">
                        <input class="input100" type="password" name="password" id="password" placeholder="Password">
                        <span class="focus-input100"></span>
                    </div>
                    <div class="wrap-input100 rs7-wrap-input100 validate-input m-b-20"
                        data-validate="Type confirm password">
                        <input class="input100" type="password" name="confirmPassword" id="confirmPassword"
                            placeholder="Confirm Password">
                        <span class="focus-input100"></span>
                    </div>


                    <div class="container-login100-form-btn">
                        <button type="submit" class="login100-form-btn"> Sign Up </button>



                    </div>
                </form>

                <div class="login100-more" style="background-image: url('/public/images/bg-01.jpg');"></div>



            </div>
        </div>
    </div>


    <script src="/public/js/script.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>



</body>

</html> --}}

<div>
    <form id="myForm" method="POST" action="/user/signup"><br>
        <label for="firstName">FirstName:</label>
        <input type="text" name="firstName" id="firstName" value="{{post.firstName}}"><br>
        <label for="lastName">LastName:</label>
        <input type="text" name="lastName" id="lastName" value="{{post.lastName}}"><br>
        <label for="gender">Gender:</label>
        <input type="radio" name="gender" class="gender" value="male" value={{post.gender}}> Male<br>
        <input type="radio" name="gender" class="gender" value="female" value={{post.gender}}> Female<br>
        <input type="radio" name="gender" class="gender" value="other" value={{post.gender}}> Other<br>
        <label for="dob">D.O.B:</label>
        <input type="date" name="dob" id="dob" value="{{post.dob}}"><br>
        <label for="email">E-mail:</label>
        <input type="email" name="email" id="email" value="{{post.email}}"><br>
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" value="{{post.password}}"><br>
        <label for="confirmPassword">Confirm Password:</label>
        <input type="password" name="confirmPassword" id="confirmPassword" value="{{post.confirmPassword}}"><br><br>
        <button type="submit" id="submit">Submit</button>

        {{#if hasErrors}}
        <ul class="error-list">
            {{#each errors}}
            <li>
                {{this}}
            </li>
            {{/each}}
        </ul>
        {{/if}}


        {{!-- 
        <script src="/public/js/script.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> 

        <script>
            function f_Val() {
                var firstname = document.getElementById('firstName');
                var lastname = document.getElementById('lastName');
                var Email = document.getElementById('email');
                var Password = document.getElementById('password');
                var ConfirmPassword = document.getElementById('confirmPassword');


                if (firstname.value == "") {
                    window.alert("Please enter your first name.");
                    $('#firstName').focus();
                    return false;
                }

                if (lastname.value == "") {
                    window.alert("Please enter your last name.");
                    $('#lastName').focus();
                    return false;
                }

                if (Email.value == "") {
                    window.alert("Please enter your email.");
                    $('#email').focus();
                    return false;
                }
                if (Password.value == "") {
                    window.alert("Please create a new password.");
                    $('#password').focus();
                    return false;
                }
                if (ConfirmPassword.value == "") {
                    window.alert("Enter the password again.");
                    $('#confirmPassword').focus();
                    return false;
                }
                if (Password.value !== ConfirmPassword.value) {
                    window.alert('Password is not the same!');
                    $('#confirmPassword').focus();
                    return false;
                }
                if (firstname.value && lastname.value && Email.value && Password.value && ConfirmPassword.value && Password == ConfirmPassword)
                    return true;

            }
        </script> --}}


</div>